<div class="review">
    <h1 class="underline"><span class="bold">Review your purchases</span></h1>
    <div class="products">
        <div class="product">
            <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="" srcset="" width="250" height="250">
            <p>Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday</p>
            <div class="price">
                <p>109.95$</p>
                <p>-15% off</p>
            </div>
        </div>
        <br>
        <div class="product">
            <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="" srcset="" width="250" height="250">
            <p>Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday</p>
            <div class="price">
                <p>109.95$</p>
                <p>-15% off</p>
            </div>
        </div>
        <br>
        <div class="product">
            <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="" srcset="" width="250" height="250">
            <p>Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday</p>
            <div class="price">
                <p>109.95$</p>
                <p>-15% off</p>
            </div>
        </div>
    </div>
</div>
